// FONTS

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Bold.ttf') format('woff2'),
        url('../fonts/SpaceMono-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-VariableFont_wght.ttf') format('woff2'),
        url('../fonts/LexendDeca-VariableFont_wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Regular.ttf') format('woff2'),
        url('../fonts/SpaceMono-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

