.site-header {
    
    padding-top: 34px;
    padding-bottom: 34px;
    background-color: $color-white;
    width: 100%;
    position: fixed;
    z-index: 100;
    
    // .site-header__container
    
    &__container {
        display: flex;
        align-items: center;
    }
    
    // .site-header__logo-link
    
    &__logo-link {
        display: flex;
    }
    
    // .site-header__logo
    
    &__logo {
        display: block;
    }
    
    // .site-header__navigation-inner
    
    &__navigation-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 58px;
        width: 100%;
    }
    
    &__list--active {
        display: flex;
        flex-direction: column;
        gap: 24px;
        display: none;
    }
    
    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }
    
    // .site-header__list--active
    
    
    // .site-header__item
    
    &__item {
    }
    
    // .site-header__item-link
    
    &__item-link {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: $color-grey;
        transition: all 0.5s ease;
        
        &:hover {
            color: $color-yellow;
        }
        
        &:active {
            opacity: 0.6;
        }
    }
    
    // .site-header__btn--active
    
    &__btn--active {
    }
    
    &__gambur {
        display: none;
    }
    
    // .site-header__cross
    
    &__cross {
        display: none;
    }

    &__gamburger {
        display: none;
    }
    
}

@media only screen and (max-width:700px) {

    .site-header__logo-link {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        width: 75px;
        height: 20px;
    }
    
    .site-header__navigation-inner {

        .site-header__list {
            display: none;
        }
        
        .site-header__btn {
            display: none;
        }
    
        .site-header__gamburger {
            display: block;
            background-image: url(../../img/gamburger.svg);
            background-repeat: no-repeat;
            width: 19px;
            height: 16px;
            position: absolute;
            margin-left: -30px;
        }

        .site-header__logo-link {
        }
    
        .site-header__list {
            align-items: flex-start;
        }
    
        .site-header__container {
            position: relative;
        }
    }

    .site-header__navigation-inner--active {
        position: relative;

        .site-header__list--active {
            display: flex;
            flex-direction: column;
            gap: 24px;
            position: absolute;
            left: 0;
            padding-left: 45px;
            padding-top: 64px;
            top: 35px;
            margin-left: -80px;
            padding-right: 200px;
            height: calc(100vh + 70px);
            background-color: $color-dark;
            z-index: 4;
            // box-shadow: 0 100px 0 100px rgba(0, 0, 0 , 10%);
            box-shadow: 0 5000px 0 5000px rgba(0, 0, 0, 0.75);
        }

        .site-header__gamburger {
            left: 0;
            background-image: url(../../img/cross-gamburger.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }

        .site-header__btn {
            display: block;
            position: absolute;
            bottom: calc(100% - 470px);
            left: 0;
            margin-left: -10px;
        }
    }
}
